<div class="container">
    <h2>Inserisci Nuova Compagnia</h2>
    <mat-form-field class="full-width">
        <input matInput placeholder="Nome Compagnia" [(ngModel)]="nuovaCompagnia.nomeCompagnia">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Sede" [(ngModel)]="nuovaCompagnia.sede">
    </mat-form-field>
    <div class="button-container">
        <button mat-raised-button color="primary" (click)="confermaInserimentoCompagnia()">Conferma</button>
        <button mat-raised-button color="warn" (click)="annullaInserimentoCompagnia()">Annulla</button>
    </div>
</div>
