.inserimento-cliente-container {
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ADD8E6; /* Celeste */
}

mat-toolbar {
  background-color: #ADD8E6; /* Celeste */
  color: #000; /* Nero */
}

form {
  text-align: center;
}

form .form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  color: #000; /* Nero */
}

mat-form-field {
  width: 100%;
}

button[type="submit"] {
  background-color: #007BFF; /* Blu */
  color: #FFF; /* Bianco */
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Blu scuro */
}
